.cards {
    margin-top: 10px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--clr-box-shadow);
    background-color: var(--components-background-default);

    &__list {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 20px;
    }
}