//<МИКСИНЫ>===================================
@import "mixins";
//</МИКСИНЫ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@import "fonts";
//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font-family: "Montserrat", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================

// Ширина макета для адаптивного шрифта (адаптация по пикселям)
$maxWidth: 1920;

// Ширина контейнера
$mw: 120;

// Длительность свойства transition
$ms: 0.3s;

//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "vars.scss";
@import "normalize";

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-default);
    background-color: var(--body-background-default);

    &.lock {
        overflow: hidden;
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "ui";
@import "../components/ui/Container/Container";
@import "../components/ui/Loader/Loader";
// Подключение общих элементов

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "../components/common/Header/Header";

@import "../components/common/Header/components/Navigation";
@import "../pages/HomePage/HomePage";
@import "../pages/ErrorPage/ErrorPage";
@import "../pages/MonthStatisticsPage/MonthStatisticsPage";
@import "../components/common/ThisDay/ThisDay";
@import "../components/common/ThisDayInfo/ThisDayInfo";
@import "../components/common/Cards/Cards";
@import "../components/common/Cards/components/Card/Card";
@import "../components/common/Tabs/Tabs";
@import "../components/common/Tabs/components/Tab/Tab";
@import "../components/ui/Popup/Popup";


@import "../components/common/Footer/Footer";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
